body {
    overflow: hidden;
    font-family: inter;
}

.container-verti {
    display: flex;
}

.horizontal,
.vertical {
    flex: 1;
}

.horizontal {
    width: 1561px;
    height: 1080px;
    flex-grow: 4;
}

.vertical {
    display: inline-block;
    min-width: 358px;
    min-height: 1080px;
}

.line-horizontal {
    height: 1px;
    border: 1px solid #BBBBBB;
    background-color: #BBBBBB;
}

.line-vertical {
    height: 100vh;
    border: 1px solid #BBBBBB;
    background-color: #BBBBBB;
}

.logo {
    width: 82px;
    height: 113px;
}

.open-zone {
    background-image: url('img/try.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin-top: -40px;
}

.user-img {
    height: 100px;
    width: 100px;
    margin-left: 37%;
    margin-top: 50px;
}

.center-user-name,
.center-user-mail {
    text-align: center;
    margin-top: 5px;
}

.center-user-name {
    font-weight: bold;
}

.top-buttons-style {
    display: inline-block;
    margin-left: 8%;
    margin-bottom: 15px;
    background: white;
    border: white;
    width: 150px;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    transition: ease all 0.1s;
}

.top-buttons-style:hover {
    font-weight: bold;
}

.divisions {
    font-size: 25px;
    margin-left: 15%;
    margin-top: 15px;
}

.division-column {
    font-size: 20px;
    margin-left: 10%;
    margin-top: 10px;
}

.options-dims {
    width: 250px;
    height: 18px;
    border-radius: 8px;
    border: none;
}

.main-title {
    font-size: 60px;
    text-align: center;
}

.folders {
    width: 85%;
    height: 20px;
    margin-left: 7.5%;
    background-color: white;
    border: 2px solid grey;
    border-radius: 18px;
    transition: height 0.3s ease;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 10px 10px;
}

.folders-clicked {
    /*height: 100px;*/
    height: auto;
    /*<- non fa funzionare la transizione pk non sa mai che input dare alla funzione transition*/
}

.matematica {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.italiano {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.storia {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.informatica {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.telecomunicazioni {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.tpsi {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.generico {
    margin-top: 0px;
    margin-left: 10px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.inglese {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.biologia {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.chimica {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.meccanica {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.elettronica {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.economia {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.geografia {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.scienze {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.filosofia {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.arte {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.materia-clicked {
    text-align: center;
}

.create-btn {
    width: 150px;
    height: 150px;
    margin-left: 220px;
    margin-top: -50px;
}

.crea-txt {
    font-weight: bold;
    font-size: 40px;
    margin-left: 250px;
    margin-top: 25vh;
}

.exit-btn {
    width: 40px;
    height: 40px;
    margin-top: 110%;
    margin-left: 50%;
}

.scrollable {
    height: 67.5%;
    padding: 4px;
    width: 99.1%;
    overflow: auto;
    align-items: center;
}

.try {
    margin-top: 0px;
    font-size: 15px;
    margin-top: 4px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.red-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #FF0000;
    position: absolute;
    top: -40px;
    right: -20px;
}

.bidone-profile {
    display: none;
}

.container-bidoni:hover .bidone {
    display: none;
}

.container-bidoni:hover .bidone-profile {
    display: block;
}