body {
	font-family:inter;
    overflow: hidden;
    background-image: url("img/sfondo_index.jpg");
}

.barra{
    position: relative;
    top: 0%;
    left: 0%;
    background-color: white;
}

.barra img{
    height: 120px;
}

.barra button{
    position: absolute;
    top: 40%;
    font-size: 25px;
}

.barra button:hover{
    font-weight: bold;
}

#home{
    left: 25%;
}

#funzionalita{
    left: 45%;
}

#about{
    left: 70%;
}

#user{
    position: absolute;
    top: 0%;
    right: 0%;
}

.bottoni{
    position: relative;
    width: 325px;
    height: 100px;
    background-color: white;
    left: 15%;
    margin-top: 605px;
}

.bottoni button{
    background: none;
    border: none;
    margin-top: 35px;
}

.bottoni img{
    height: 70px;
}

.bottoni form{
    display: inline-block;
}

#nLikes{
    display: inline;
    position: absolute;
    font-size: 50px;
    margin: 0px;
    right: 0%;
    margin-top: 40px;
}

#nota{
    height: 576px;
    width: 1024px;
}

.noteContainer{
    height: 576px;
    width: 1024px;
    position: absolute;
    border: 2px solid gray;
    left: 15%;
    bottom: 110px;
    background-color: white;
}

.info{
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 15%;
    top: 25%;
    justify-content: center;
}

#titleinfo{
    color: red;
    font-size: 45px;
}

.dati{
    list-style-type: none;
    font-size: 30px;
    margin-left: -40px;
}

#title{
    font-size: 60px;
    margin: 0;
    text-align: center;
}

#rosso{
    display: none;
}

.likes:hover #like{
    display: none;
}

.likes:hover #rosso{
    display: block;
}