.body
{
    background-image: url("img/pagina.png");
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed; 
    height: 167px;
    width: 2100px;
    margin: 0;
    top:0;
    padding: 0; 
    margin-bottom: 10px;
    z-index:1;
}
.container-fluid
{
    text-align: center;
    margin-left: -120px;
    background-color: white;
}
#bottone1 {
    position: absolute;
    font-size: 23px;
    margin-top: 78px; 
    padding: 1px;
    margin-left: -1400px;
    border: none;
    margin: none;
    color: none;
    background-color: none;
    justify-content: center;
    margin-bottom: 30px;
}
#bottone1:hover 
{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

#bottone2 {
    position: absolute;
    font-size: 23px;
    margin-top: 78px; 
    padding: 1px;
    margin-left: -980px;
    border: none;
    justify-content: center;
    margin-bottom: 30px;
}
#bottone2:hover 
{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

#bottone3 {
    position: absolute;
    font-size: 23px;
    margin-top: 78px; 
    padding: 1px;
    margin-left: -500px;
    background-color: none;
    border: none;
    margin: none;
    justify-content: center;
    margin-bottom: 30px;
}
#bottone5 
{
    margin: 0px 0;
    background-color: WHITE;
}
#bott
{
    background-color: white;
    border: none;
    background: none;
}

#bottone3:hover 
{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.bottoni
{
    text-align: center;
    background-color: white;
}

#linea {
    margin-top: 23px; 
    border: none;
    width: 2000px;
    border-top: 2px solid  grey; 
}
#imm
{
    margin-right: 1550px;
    margin-top: 20px;
    width: 110px;
    margin-left: -200px;
}
#si
{
    border: none;
}
#imm2:hover 
{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
#si
{
    margin: none;
}

#imm2
{
    margin-top: -115px;
    width: 70px;
}
.upper-Section{ /* UPPER */
    margin-top: 11%;
}
#titolo
{
    font-size: 45px;
    color: orange;
    text-align: center;
}
#testo
{
    font-size: 29px;
    text-align: center;
}

.profile-Section{ /* PROFILE */
    margin-top: 80px;
    display: flex;
}
#titoletto
{
    color: red;
    position: absolute;
    right:15%;
}
#immagine
{
    border-radius: 30px;
    height: 485px;
    border: 1px solid black;
    margin-top: 80px;
    margin-left: 2%;
}
#profilo
{
    font-size: 25px;
    margin-top: 90px;
    margin-left: 10%;
}

.create-Section{ /* CREATE */
    display: flex;
    margin-top: 80px;
}
/*#prova
{
    z-index: -1;
    width: 500px;
}*/
#immagine2
{
    margin-top: 100px;
    border-radius: 30px;
    height: 500px;
    border: 1px solid black;
    margin-left: 1.5%;
}
#creazione 
{
    margin-top: 120px;
    font-size: 22px;
    background-image: url("sfondino,png");
    background-repeat: no-repeat;
    margin-left: 2%;
}
#titoletto2
{
    position: absolute;
    color: red;
    left: 15%;
}

.search-Section{ /* SEARCH */
    display: flex;
    margin-top: 80px;
}
#titoletto3
{
    position: absolute;
    color: red;
    right: 15%;
}
#immagine3
{
    margin-top: 80px;
    border-radius: 30px;
    height: 495px;
    border: 1px solid black;
    margin-left: 2%;
}
#cerca
{
    margin-top: 100px;
    font-size: 25px;
    margin-left: 7%;
}

@media (max-width: 1800px){
    #imm{
        margin-right: 1650px;
        width: 80px;
    }
    #bottone1, #bottone2, #bottone3, #bottone5{
        font-size: 17px;
    }
    #bottone1{
        margin-left: -1500px;
    }
    #bottone2{
        margin-left: -1180px;
    }
    #bottone3{
        margin-left: -900px;
    }
    #imm2{
        margin-left: -1300px;
    }
    /* UPPER */
    .upper-Section{
        margin-top: 15%;
    }
    #titolo{
        font-size: 30px;
    }
    #testo{
        font-size: 20px;
    }
    /* PROFILE */
    #immagine{
        height: 300px;
    }
    #profilo{
        font-size: 15px;
    }
    /* CREATE */
    #immagine2{
        height: 300px;
    }
    #creazione{
        font-size: 15px;
        margin-top: 115px;
    }
    /* SEARCH */
    #immagine3{
        height: 300px;
    }
    #cerca{
        font-size: 15px;
    }
}

@media (max-width: 1200px){
    #bottone1{
        margin-left: -1600px;
    }
    #bottone2{
        margin-left: -1380px;
    }
    #bottone3{
        margin-left: -1150px;
    }
    #imm2{
        margin-left: -1800px;
    }
    /* UPPER */
    .upper-Section{
        margin-top: 18%;
    }
    /* PROFILE */
    #immagine{
        height: 250px;
    }
    #profilo{
        margin-left: 5%;
        font-size: 12px;
    }
    /* CREATE */
    #immagine2{
        height: 250px;
    }
    #creazione{
        font-size: 12px;
    }
    /* SEARCH */
    #immagine3{
        height: 250px;
    }
    #cerca{
        font-size: 12px;
    }
}