#titolo {
    background-color: greenyellow;
    text-align: center;
    font-size: 20px;
}

body{
	font-family: 'Inter', sans-serif;
}

#textOptions {
    margin-top: 1px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

#textOptions label,
#textOptions select,
#textOptions button {
    margin-right: 10px;
}

#gomma2 {
    margin-top: -23px;
    margin-left: 600px;
}

.select {
    float: right; 
    margin-right: 10px; 
    margin-top: 25px; 
}
#labello2
{
    margin-left: -60px;
    margin-top: 3px;
}



#strumenti {
    font-size: 23px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.tutto3 
{
    position: absolute;
    width: 750px;
    margin-top: 120px;
    height: 70px;
    border-radius: 30px;
    margin-left: 562px;
    background-color: orange;
    border: 1px solid black; 
}

.tutto4
{
    position: absolute;
    width: 330px;
    margin-top: 120px;
    height: 70px;
    margin-left:765px;
    border-radius: 30px;
    background-color: brown;
    border: 1px solid black; 
}

#selettore {
    margin-left: 35px;
}
#fotina3
{
    position: absolute;
    width: 80px;
    height: 77px;
   margin-left: 340px;
   top: 0.5px;
}
#fotina7 
{
    position: absolute;
    width: 85px;
    height: 77px;
   margin-left: 240px;
   top: 0.2px;
}
#fotina7:hover 
{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
#fotina3:hover
{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
#thicknessSlider
{
    position: absolute;
    margin-top: 5px;
    margin-left: 40px;
}
.testo 
{
    text-align: center;
}

#labello
{
    margin-top: -10px;
}
#fontSelector
{
    margin-top: 23.5px;
    width: 200px; 
    margin-right: 50px;
}
#fotina4
{
    position: absolute;
    width: 80px;
    height: 73px;
   margin-left: 450px;
   margin-top: 3.6px;
}
#fotina5
{
    position: absolute;
    width: 88px;
    height: 81px;
   margin-left: 40px;
   margin-top: 0.2px;
}
#fotina5:hover
{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

#fotina4:hover
{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

#tools {
    margin-top: -25px;
    margin-left: 350px;
}
#fontSizeSelector
{
    float: right;
    margin-top: -29.5px; 
    margin-right: 290px;
}


textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 410px;
    height: 121%;
    resize: none;
    display: none;
    font-size: 20px;
    z-index: 2;
}

.body {
    margin: 0;
    position: relative;
}

#finishButton {
    top: 10px;
    left: 80px;
    display: none;
    z-index: 2;
    border: none;
    background-color: white;
}

button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}


#blocco {
    /*cambiato css di blocco*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    border: none;
    z-index: 1;
    border-radius: 30px;
    background-image: url("img/sfondo-popup-new.png");
    display: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#foto-gomma
{
    height: 35px;
    width: 35px;
    margin-top: -4px;
}

#gomma
{
    position: absolute;
    margin-top: 5px;
}
#matita
{
    position: absolute;
    height: 40px;
    width: 45px;
    margin-top: -8px;
    right: 360px;
}


#foto3
{
    width: 40px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    background-color: white;
    border-radius: 30px;
}

.tutto {
    position: absolute;
    width: 750px;
    height: 80px;
    border-radius: 50px;
    margin-left: 560px;
    margin-top: 5px;
    border: 3px solid gray;
    background-color: white;
    
}
.tutto2 {
    position: absolute;
    width: 850px;
    margin-top: 120px;
    height: 70px;
    border-radius: 30px;
    margin-left: 520px;
    background-color: greenyellow;
    border: 1px solid black;
}

#apri {
    position: absolute;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

#apri:hover {
    filter: brightness(50%) grayscale(0%) hue-rotate(0deg) invert(0%) saturate(200%);
}

.spostato-verso-destra {
    transform: translateX(15%);
    transition: transform 0.5s ease;
}

.spostato-verso-sinistra {
    transform: translateX(15%);
    transition: transform 0.5s ease;
}

#colore {
    margin-top: -35px;
    margin-left: 205px;
}

#eraseButton {
    position: absolute;
    height: 40px;
    width: 70px;
    margin-top: -43px;
    margin-left: 115px;
}

#eraseButton:hover 
{
    transform: scale(1.2);
}

#writeButton {
    position: absolute;
    height: 65px;
    width: 65px;
    margin-top: 4px;
    margin-left: 40px;
}
#writeButton:hover 
{
    transform: scale(1.2);
}

#chiudi {
    position: absolute;
    height: 89px;
    width: 89px;
    margin-top: 75px;
    margin-left: 580px;
    border-radius: 30px;
    border: 0.5 solid black;
}
#chiudi:hover
{
    transform: scale(1.2);
    transition: transform 0.3s ease; 
}

#titolino {
    /*cambiato il css di titolino*/
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    color: #FFD847;
    margin-bottom: 30px;
    font-family: inter;
}

#croce {
    /*cambiato il css di croce*/
    position: absolute;
    top: 15px;
    left: 92%;
}

#titolino2 {
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}

#nota {
    /*cambiato il css di nota*/
    height: 30px;
    width: 300px;
    margin-left: 20%;
    margin-bottom: 40px;
    border-radius: 5px;
    line-height: 1;
    color: black;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    background: none;
}

#ctr {
    /*aggiunta del css di ctr prima non esistente*/
    color: red;
    position: absolute;
    top: 62%;
    left: 32%;
}

#nota2 {
    /*cambiato il css di nota2*/
    height: 30px;
    width: 300px;
    margin-left: 20%;
    margin-bottom: 40px;
    align-items: center;
    display: block;
    border-radius: 18px;
    border-radius: 5px;
    line-height: 1;
    color: black;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    background: none;
}

#nota3 {
    /*cambiato il css di nota3*/
    height: 30px;
    width: 300px;
    margin-left: 20%;
    margin-bottom: 40px;
    align-items: center;
    border-radius: 18px;
    border-radius: 5px;
    line-height: 1;
    color: black;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    background: none;
}

#croce:hover {
    /*cambiato il css di croce:hover*/
    color: red;
    width: 20px;
    height: 20px;
}

#croce2:hover {
    filter: brightness(0) invert(1);
}

.submit-senza-hover {
    /*creato classe submit-senza-hover*/
    pointer-events: none;
    transition: none;
}

.submit-con-hover {
    /*cambiato css di submit, da sostituire con submit-con-hover*/
    display: block;
    padding: 20px 30px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #FFD847;
    color: white;
    background-color: #FFD847;
    border-radius: 30px;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: 38%;
    transition: all 0.3s ease;
}

.submit-con-hover:hover {
    /*cambiato css di submit ed anceh cambiato il nome in "submit-con-hoover:hover"*/
    transform: scale(1.2);
}

#label {
    margin-top: -60px;
    margin-left: 40px;
    font-size: 25px;
}

.cose {
    margin-top: 90px;
}

#boldButton {
    position: absolute;
    margin-top: -36px;
    height: 33px;
    width: 30px;
    margin-left: 230px;
    align-items: center;
}
#boldButton:hover 
{
    transform: scale(1.2);
}

#italicButton {
    position: absolute;
    margin-top: -39px;
    height: 40px;
    width: 30px;
    margin-left: 430px;
    align-items: center;
}
#italicButton:hover 
{
    transform: scale(1.2);
}

#underlineButton {
    position: absolute;
    height: 45px;
    width: 45px;
    margin-top: -43px;
    margin-left: 317px;
}

#underlineButton:hover 
{
    transform: scale(1.2);
}

#eraseimagesButton {
    margin-top: 60px;
    margin-left: 1000px;
}

#deleteTextButton {
    margin-top: 40px;
    margin-left: 1000px;
}

#moveButton {
    position: absolute;
    width: 88px;
    height: 82px;
    margin-left: 540px;
    margin-top: -2.8px;
}
#moveButton:hover 
{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
#salva {
    margin-top: 40px;
    margin-left: 900px;
}

.cursor {
    width: 2px;
    height: 16px;
    background-color: black;
    position: absolute;
    display: none;
    pointer-events: none;
}

#uscita {
    position: absolute;
    left: 140px;
    margin-top: 3px;
    height: 76px;
    width: 87px;
}

#ciao.aperta {
    animation: cadutaConRimbalzo 1s;
    opacity: 1;
}

#uscita:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

#banner {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    margin-left: 950px;
    margin-top: -500px;
    background-image: url('img/sfondo_banner.JPG');
    transform: translate(-50%, -50%);
    border: none;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#banner-text {
    font-family: inter;
}

#confermaSalvataggio {
    margin-top: 105px;
    margin-left: 45px;
}

#annullaSalvataggio {
    margin-top: 105px;
    margin-left: 180px;
}

#forme {
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: 6px;
    margin-left: 110px;
}
#forme:hover 
{
    transform: scale(1.2);
}
#forme3
{
    position: absolute;
    height: 55px;
    width: 55px;
    margin-top: 6px;
    margin-left: 170px;
}
#forme2
{
    position: absolute;
    height: 40px;
    width: 40px;
    margin-top: 13px;
    margin-left: 250px;
}

#forme2:hover 
{
    transform: scale(1.2);
}
#forme3:hover 
{
    transform: scale(1.2);
}
#formine
{
    position: absolute;
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-left: 30px;
    background-color: white;
    border-radius: 30px;

}



#annulla {
    margin-top: 145px;
    margin-left: 100px;
}

.spostato-verso-sinistra {
    transform: translateX(0%);
    transition: transform 0.5s ease;
}

body,
html {
    overflow: hidden;
}

@keyframes cadutaConRimbalzo {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    25% {
        transform: translateX(30%);
        opacity: 1;
    }
    50% {
        transform: translateX(-15%);
    }
    75% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.save-btns {
    display: block;
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #ffa500;
    color: white;
    background-color: #ffa500;
    border-radius: 18px;
    justify-content: center;
    transition: all 0.3s ease;
    margin-top: 30px;
    transition: all 0.5s ease;
}

.save-btns:hover {
    transform: scale(1.2);
}





@media(max-width:850px ) and (min-width:767px)
{
    .tutto {
        position: absolute;
        align-items: center;
        width: 750px;
        height: 80px;
        border-radius: 50px;
        margin-left: 28px;
        margin-top: 5px;
        border: 3px solid gray;
        background-color: white;
    }
    
    #fontSizeSelector
    {
    float: right;
    margin-top: -29.5px; 
    margin-right: 185px;
    }
    .tutto2 {
        position: absolute;
        width: 700px;
        margin-top: 120px;
        height: 70px;
        border-radius: 30px;
        margin-left: 67px;
        background-color: greenyellow;
        border: 1px solid black;
    }
    #fontSizeSelector
    {
    float: right;
    margin-top: -29.5px; 
    margin-right: 190px;
    }
    #italicButton {
        position: absolute;
        margin-top: -39px;
        height: 40px;
        width: 30px;
        margin-left: 400px;
        align-items: center;
    }
    #fontSelector
    {
    margin-top: 23.5px;
    width: 100px; 
    margin-right: 50px;
    }
    .tutto3 
    {
    position: absolute;
    width: 750px;
    margin-top: 120px;
    height: 70px;
    border-radius: 30px;
    margin-left: 21px;
    background-color: orange;
    border: 1px solid black; 
   }
   #banner {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    margin-left: 400px;
    margin-top: -500px;
    background-image: url('img/sfondo_banner.JPG');
    transform: translate(-50%, -50%);
    border: none;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.tutto4
{
    position: absolute;
    width: 330px;
    margin-top: 120px;
    height: 70px;
    margin-left:245px;
    border-radius: 30px;
    background-color: brown;
    border: 1px solid black; 
}

   
}
@media(max-width:980px ) and (min-width:850px)
{
    .tutto {
        position: absolute;
        align-items: center;
        width: 750px;
        height: 80px;
        border-radius: 50px;
        margin-left: 66px;
        margin-top: 5px;
        border: 3px solid gray;
        background-color: white;
    }
    
    #fontSizeSelector
    {
    float: right;
    margin-top: -29.5px; 
    margin-right: 185px;
    }
    .tutto2 {
        position: absolute;
        width: 700px;
        margin-top: 120px;
        height: 70px;
        border-radius: 30px;
        margin-left: 87px;
        background-color: greenyellow;
        border: 1px solid black;
    }
    #fontSizeSelector
    {
    float: right;
    margin-top: -29.5px; 
    margin-right: 190px;
    }
    #italicButton {
        position: absolute;
        margin-top: -39px;
        height: 40px;
        width: 30px;
        margin-left: 400px;
        align-items: center;
    }
    #fontSelector
    {
    margin-top: 23.5px;
    width: 100px; 
    margin-right: 50px;
    }
    .tutto3 
    {
    position: absolute;
    width: 750px;
    margin-top: 120px;
    height: 70px;
    border-radius: 30px;
    margin-left: 71px;
    background-color: orange;
    border: 1px solid black; 
   }
   #banner {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    margin-left: 470px;
    margin-top: -500px;
    background-image: url('img/sfondo_banner.JPG');
    transform: translate(-50%, -50%);
    border: none;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.tutto4
{
    position: absolute;
    width: 330px;
    margin-top: 120px;
    height: 70px;
    margin-left:255px;
    border-radius: 30px;
    background-color: brown;
    border: 1px solid black; 
}

   
}


@media(max-width:1200px ) and (min-width:980px)
{
    .tutto {
        position: absolute;
        align-items: center;
        width: 750px;
        height: 80px;
        border-radius: 50px;
        margin-left: 145px;
        margin-top: 5px;
        border: 3px solid gray;
        background-color: white;
    }
    
    #fontSizeSelector
    {
    float: right;
    margin-top: -29.5px; 
    margin-right: 185px;
    }
    .tutto2 {
        position: absolute;
        width: 700px;
        margin-top: 120px;
        height: 70px;
        border-radius: 30px;
        margin-left: 160px;
        background-color: greenyellow;
        border: 1px solid black;
    }
    #fontSizeSelector
    {
    float: right;
    margin-top: -29.5px; 
    margin-right: 190px;
    }
    #italicButton {
        position: absolute;
        margin-top: -39px;
        height: 40px;
        width: 30px;
        margin-left: 400px;
        align-items: center;
    }
    #fontSelector
    {
    margin-top: 23.5px;
    width: 100px; 
    margin-right: 50px;
    }
    .tutto3 
    {
    position: absolute;
    width: 750px;
    margin-top: 120px;
    height: 70px;
    border-radius: 30px;
    margin-left: 141px;
    background-color: orange;
    border: 1px solid black; 
   }
   #banner {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    margin-left: 500px;
    margin-top: -500px;
    background-image: url('img/sfondo_banner.JPG');
    transform: translate(-50%, -50%);
    border: none;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.tutto4
{
    position: absolute;
    width: 330px;
    margin-top: 120px;
    height: 70px;
    margin-left:328px;
    border-radius: 30px;
    background-color: brown;
    border: 1px solid black; 
}

   
}
@media(max-width:1500px) and (min-width:1200px)
{
    .tutto {
        position: absolute;
        align-items: center;
        width: 750px;
        height: 80px;
        border-radius: 50px;
        margin-left: 280px;
        margin-top: 5px;
        border: 3px solid gray;
        background-color: white;
    }
    
    #fontSizeSelector
    {
    float: right;
    margin-top: -29.5px; 
    margin-right: 185px;
    }
    .tutto2 {
        position: absolute;
        width: 700px;
        margin-top: 120px;
        height: 70px;
        border-radius: 30px;
        margin-left: 300px;
        background-color: greenyellow;
        border: 1px solid black;
    }
    #fontSizeSelector
    {
    float: right;
    margin-top: -29.5px; 
    margin-right: 190px;
    }
    #italicButton {
        position: absolute;
        margin-top: -39px;
        height: 40px;
        width: 30px;
        margin-left: 400px;
        align-items: center;
    }
    #fontSelector
    {
    margin-top: 23.5px;
    width: 100px; 
    margin-right: 50px;
    }
    .tutto3 
    {
    position: absolute;
    width: 750px;
    margin-top: 120px;
    height: 70px;
    border-radius: 30px;
    margin-left: 281px;
    background-color: orange;
    border: 1px solid black; 
   }
   #banner {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    margin-left: 620px;
    margin-top: -500px;
    background-image: url('img/sfondo_banner.JPG');
    transform: translate(-50%, -50%);
    border: none;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.tutto4
{
    position: absolute;
    width: 330px;
    margin-top: 120px;
    height: 70px;
    margin-left:468px;
    border-radius: 30px;
    background-color: brown;
    border: 1px solid black; 
}

}
@media(max-width:1800px) and (min-width:1500px)
{
    .tutto {
        position: absolute;
        align-items: center;
        width: 750px;
        height: 80px;
        border-radius: 50px;
        margin-left: 415px;
        margin-top: 5px;
        border: 3px solid gray;
        background-color: white;
    }
    
    #fontSizeSelector
    {
    float: right;
    margin-top: -29.5px; 
    margin-right: 185px;
    }
    .tutto2 {
        position: absolute;
        width: 700px;
        margin-top: 120px;
        height: 70px;
        border-radius: 30px;
        margin-left: 435px;
        background-color: greenyellow;
        border: 1px solid black;
    }
    #fontSizeSelector
    {
    float: right;
    margin-top: -29.5px; 
    margin-right: 190px;
    }
    #italicButton {
        position: absolute;
        margin-top: -39px;
        height: 40px;
        width: 30px;
        margin-left: 400px;
        align-items: center;
    }
    #fontSelector
    {
    margin-top: 23.5px;
    width: 100px; 
    margin-right: 50px;
    }
    .tutto3 
    {
    position: absolute;
    width: 750px;
    margin-top: 120px;
    height: 70px;
    border-radius: 30px;
    margin-left: 411px;
    background-color: orange;
    border: 1px solid black; 
   }
   #banner {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    margin-left: 770px;
    margin-top: -500px;
    background-image: url('img/sfondo_banner.JPG');
    transform: translate(-50%, -50%);
    border: none;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.tutto4
{
    position: absolute;
    width: 330px;
    margin-top: 120px;
    height: 70px;
    margin-left:578px;
    border-radius: 30px;
    background-color: brown;
    border: 1px solid black; 
}

}




