body{
    background-color: rgb(239, 104, 104);
}
#main_title{
    color: black;
    margin-top: 80px;
    text-align: center;
}
#menu_button{
    position: absolute;
    left: 102px;
    display: flex;
}
#img_logo{
    width: 82px;
    height: auto;
    border-radius: 75%;
}
.login_button{
    background-image: url(login.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #212529;
    border-radius: 50%;
    border-color: #bcc0c56a;
    padding: 22px;
}
.registration_button{
    background-color: #212529;
    border-radius: 15%;
    color: white;
    position: fixed;
    top: 20px;
    right: 66px;
}
.img-text{
    background-color:grey;
    display: flex;
    height: 400px;
}
#img_insert{
    margin-inline-start: auto;
    height: auto;
}
/* reminder: chiedere al prossimo mett-up come deve cambiare sui dispositivi mobili affiancarsi/andare_a_capo/...*/
#text_1{
    margin-inline-end: auto;
    font-size: 24px;
    font-style: italic; /* è solo un font di prova...*/
}
.offcanvas-body{
    overflow: visible;
}
.nav-link{
    color: white;
}
#log-title{
    color: rgba(246, 93, 246, 0.854);
    font-size: 34px;
    text-align: center;
}
.sign-in{
    border: 7px solid;
    border-color: rgb(236, 236, 96);
    border-radius: 15%;
    background-color: #212529;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sign-in textarea{
    background-color: lightgrey;
    color: black;
    resize: none;
    margin-left: -7%;
}
.sign-in text{
    color: white;
    margin-left: -7%;
}
#login-logo{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80px;
    height: auto;
}
ul{
    list-style-type: none;
}
#Registrati{
    color: rgb(3, 91, 255);
    background: none;
}
#signup{
    display: none;
    width: 50px;
    height: 60px;
    background-color: rgb(0, 255, 34);
}
#signin{
    display: block;
}
