body {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('img/IMG_2326.jpg');
    background-repeat: no-repeat;
}

.login-menu-backgroud {
	width: 300px;
	height: 300px;
	border: 5px solid #E68F61;
	background-color: transparent;
	border-radius:15px;
	opacity: 1;
}

.pop-menu {
	width: 300px;
	height: 300px;
	background-color: trasparent;
	border-radius:15px;
	opacity: 1;
}

.popup-sets {
	line-height: 1.5;
	text-align: center;
	color: #B6ED6C;
}

.login-inputs {
	margin-left: 5%;
	border-radius: 5px;
	line-height: 1;
	margin-top: 30px;
	color: #76A8E4;
}

.avanti-login-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #9A9CF2; 
    color: #9A9CF2;
    background-color: transparent; 
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 18px;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 15px;
}
.avanti-login-button:hover {
    background-color: #9A9CF2;
    color: #fff; 
}

.avanti-register-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #9A9CF2; 
    color: #9A9CF2;
    background-color: transparent; 
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 18px;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 15px;
}
.avanti-register-button:hover {
    background-color: #9A9CF2;
    color: #fff; 
}

 .login-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #9A9CF2; 
    color: #9A9CF2;
    background-color: transparent; 
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 18px;
    margin-left: 33%;
    margin-bottom: 15px;
}
.login-button:hover {
    background-color: #9A9CF2;
    color: #fff; 
}

.register-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #FF0000; 
    color: #FF0000;
    background-color: transparent; 
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 18px;
    margin-top: 30px;
   	margin-left: 30%;
    margin-bottom: 15px;
}

.register-button:hover {
    background-color: #FF0000;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #fff; 
}

.no-account {
	color: #FAE07E;
	display: inline;
	margin-left: 5%;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: none;
    z-index: 1000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 18px;
    height: 35%;
}

.popup-content {
    max-width: 400px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.close:hover {
    color: #ff0000;
}

.txt-snakeID {
	text-align:center;
}