#titolo
{
    color:red;
    font-size: 25px;
    box-shadow: inset;
}
body
{
    flex-direction: column;
    display: flex;
    background-image: url("img/sfondo.png");
    background-repeat: no-repeat;
    background-size: cover; /* Aggiunta questa riga per coprire l'intera area con l'immagine */
    background-position: center center;
}

#input {
    width: 750px;
    height: 45px;
    margin-top: 100px;
    margin-left: 590px;
    display:flex;
    border-radius: 30px;
    justify-content: center;
    flex-direction:column-reverse;
    border: 1px solid #ccc;
    transition: border 0.3s ease-out; 
    padding-left: 15px;
}

#input:focus {
    border-color: #333;
}

#imm {
    max-width: 37%;
}

.navbar {
    background-color:  peachpuff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar button {
    margin: 5px;
}

.offcanvas-body {
    text-align: center;
}
#bottone1
{
    background: none;
    border: none;
}
#bottone2
{
    background: none;
    border: none;
}
#bottone3
{
    background: none;
    border: none;
}
#bottone4
{
    background: none;
    border: none;
}
#bottone5
{
    background: none;
    border:none;
    margin-left: 30px;
}

.sidebar {
    text-align: center;
    height: 100vh; 
    width: 270px; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    padding-top: 20px;
    margin-top: 128px; 
}
    
.sidebar a {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}
    
.sidebar a:hover {
    background-color: #555;
    color: white;
}

#allNotes{
    margin-left: 600px;
}