#titolo {
    background-color: greenyellow;
    text-align: center;
    font-size: 20px;
}

#textOptions {
    margin-top: 1px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

#textOptions label,
#textOptions select,
#textOptions button {
    margin-right: 10px;
}

#gomma2 {
    margin-top: -105px;
    margin-left: 1300px;
}

#strumenti {
    font-size: 23px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#selettore {
    margin-left: 35px;
}

#tools {
    margin-top: 5px;
    margin-left: 1300px;
}

textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 410px;
    height: 121%;
    resize: none;
    display: none;
    font-size: 20px;
    z-index: 2;
}

.body {
    margin: 0;
    position: relative;
}

#finishButton {
    top: 10px;
    left: 80px;
    display: none;
    z-index: 2;
    border: none;
    background-color: white;
}

button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

#blocco {
    /*cambiato css di blocco*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    border: none;
    border-radius: 30px;
    background-image: url("img/sfondo-popup-new.png");
    display: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#tutto {
    position: absolute;
    width: 1500px;
    height: 140px;
    border-radius: 30px;
    background-image: url("img/sfondo1.png");
    margin-left: 190px;
    border: 1px solid black;
}

#apri {
    position: absolute;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

#apri:hover {
    filter: brightness(50%) grayscale(0%) hue-rotate(0deg) invert(0%) saturate(200%);
}

.spostato-verso-destra {
    transform: translateX(15%);
    transition: transform 0.5s ease;
}

.spostato-verso-sinistra {
    transform: translateX(15%);
    transition: transform 0.5s ease;
}

#colore {
    margin-top: -20px;
    margin-left: 1050px;
}

#eraseButton {
    height: 20px;
    width: 70px;
    margin-top: 60px;
    margin-left: 600px;
    border-radius: 30px;
}

#writeButton {
    height: 20px;
    width: 70px;
    margin-top: 60px;
    margin-left: 700px;
    border-radius: 30px;
}

#chiudi {
    height: 20px;
    width: 70px;
    margin-top: 90px;
    margin-left: 900px;
    border-radius: 30px;
    border: 0.5 solid black;
}

#titolino {
    /*cambiato il css di titolino*/
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    color: #FFD847;
    margin-bottom: 30px;
    font-family: inter;
}

#croce {
    /*cambiato il css di croce*/
    position: absolute;
    top: 15px;
    left: 92%;
}

#titolino2 {
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}

#nota {
    /*cambiato il css di nota*/
    height: 30px;
    width: 300px;
    margin-left: 20%;
    margin-bottom: 40px;
    border-radius: 5px;
    line-height: 1;
    color: black;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    background: none;
}

#ctr {
    /*aggiunta del css di ctr prima non esistente*/
    color: red;
    position: absolute;
    top: 62%;
    left: 32%;
}

#nota2 {
    /*cambiato il css di nota2*/
    height: 30px;
    width: 300px;
    margin-left: 20%;
    margin-bottom: 40px;
    align-items: center;
    display: block;
    border-radius: 18px;
    border-radius: 5px;
    line-height: 1;
    color: black;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    background: none;
}

#nota3 {
    /*cambiato il css di nota3*/
    height: 30px;
    width: 300px;
    margin-left: 20%;
    margin-bottom: 40px;
    align-items: center;
    border-radius: 18px;
    border-radius: 5px;
    line-height: 1;
    color: black;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    background: none;
}

#croce:hover {
    /*cambiato il css di croce:hover*/
    color: red;
    width: 20px;
    height: 20px;
}

#croce2:hover {
    filter: brightness(0) invert(1);
}

.submit-senza-hover {
    /*creato classe submit-senza-hover*/
    pointer-events: none;
    transition: none;
}

.submit-con-hover {
    /*cambiato css di submit, da sostituire con submit-con-hover*/
    display: block;
    padding: 20px 30px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #FFD847;
    color: white;
    background-color: #FFD847;
    border-radius: 30px;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: 38%;
    transition: all 0.3s ease;
}

.submit-con-hover:hover {
    /*cambiato css di submit ed anceh cambiato il nome in "submit-con-hoover:hover"*/
    transform: scale(1.2);
}

#label {
    margin-top: -60px;
    margin-left: 40px;
    font-size: 25px;
}

.cose {
    margin-top: 90px;
}

#boldButton {
    height: 20px;
    width: 30px;
    margin-top: 90px;
    margin-left: 540px;
    border-radius: 30px;
    border: 0.5 solid black;
}

#italicButton {
    height: 20px;
    width: 30px;
    margin-top: 90px;
    margin-left: 620px;
    border-radius: 30px;
    border: 0.5 solid black;
}

#underlineButton {
    height: 20px;
    width: 30px;
    margin-top: 90px;
    margin-left: 720px;
    border-radius: 30px;
    border: 0.5 solid black;
}

#eraseimagesButton {
    margin-top: 60px;
    margin-left: 1000px;
}

#deleteTextButton {
    margin-top: 40px;
    margin-left: 1000px;
}

#moveButton {
    height: 20px;
    width: 70px;
    margin-top: 90px;
    margin-left: 800px;
    border-radius: 30px;
    border: 0.5 solid black;
}

#salva {
    margin-top: 40px;
    margin-left: 900px;
}

.cursor {
    width: 2px;
    height: 16px;
    background-color: black;
    position: absolute;
    display: none;
    pointer-events: none;
}

#uscita {
    position: absolute;
    top: 0;
    left: 1840px;
    margin-top: -5px;
    margin-left: 0;
    height: 55px;
    width: 55px;
}

#ciao.aperta {
    animation: cadutaConRimbalzo 1s;
    opacity: 1;
}

#uscita:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

#banner {
    width: 300px;
    height: 100px;
    border-radius: 30px;
    margin-left: 950px;
    margin-top: -500px;
    background-color: aqua;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

#banner-text {
    margin-left: 65px;
}

#confermaSalvataggio {
    margin-top: 25px;
    margin-left: 45px;
}

#annullaSalvataggio {
    margin-top: 25px;
    margin-left: 180px;
}

#forme {
    height: 20px;
    width: 70px;
    margin-top: 60px;
    margin-left: 800px;
    border-radius: 30px;
}

#annulla {
    margin-top: 55px;
    margin-left: 100px;
}

.spostato-verso-sinistra {
    transform: translateX(0%);
    transition: transform 0.5s ease;
}

body,
html {
    overflow: hidden;
}

@keyframes cadutaConRimbalzo {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    25% {
        transform: translateX(30%);
        opacity: 1;
    }
    50% {
        transform: translateX(-15%);
    }
    75% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}