#drawingCanvas {
    border: 1px solid #000;
    background-color: #fff;
    cursor: crosshair;
    
}
#titolo
{
    background-color: greenyellow;
    text-align: center;
    font-size: 20px;
    
}
#textOptions {
    display: flex;
    align-items: center;
}

#textOptions label, #textOptions select, #textOptions button {
    margin-right: 10px;
}
textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
    resize: none;
    display: none;
    font-size: 20px;
    z-index: 2;
}
body {
    margin: 0;

}
#finishButton {

    top: 10px;
    left: 80px;
    display: none;
    z-index: 2;
}
button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}
#blocco
{
    width: 1900px;
    height: 400px;
    border: 1px solid black;
     border-radius: 30px ;
    background-color: lightblue;
    display: none;
}
#nota2
{
    height: 32px;
    width: 400px;
    margin-left: 50px;
    margin-top: 5px;
}

#titolino
{
    margin-left: 720px;
    font-size: 40px;
    color: white;
}
#eraseButton 
{
   margin-left: 100px;
}
#croce
{
    margin-top:0px;
    height: 85px;
    width: 95px;
    margin-left: 650px;
}
#nota
{
    height: 25px;
    width: 600px;
    margin-left: 50px;
}
#croce:hover {
    filter: brightness(0) invert(1);

}
#submit
{
    width: 110px;
    height: 45px;
    margin-left: 830px;
    margin-top: 80px;
    border-radius: 30px;
    transition: all 0.3s ease;
    border:none;
}
#submit:hover
{
    width: 130px;
    height: 55px;
    background-color: orange;
}
#label
{

    margin-left: 40px;
    font-size: 25px;
}
.cose
{
    margin-top: 90px;
}
#boldButton
{
    margin-top: 40px;
    margin-left: 600px;
}
#italicButton
{
    margin-top: 40px;
    margin-left: 700px;
}
#underlineButton
{
    margin-top: 40px;
    margin-left: 800px;
}
#eraseimagesButton
{
    margin-top: 40px;
    margin-left: 900px;
}
#deleteTextButton
{
    margin-top: 40px;
    margin-left: 1000px;
}
#moveButton
{
    margin-top: 40px;
    margin-left: 900px; 
}
#salva
{
    margin-top: 40px;
    margin-left: 900px; 
}
.cursor {
    width: 2px;
    height: 16px;
    background-color: black;
    position: absolute;
    display: none;
    pointer-events: none;
}


