.container {
    display: flex;
}

.horizontal,
.vertical {
    flex: 1;
}

.horizontal {
    width: 1561px;
    height: 1080px;
    flex-grow: 4;
}

.vertical {
    display: inline-block;
    min-width: 358px;
    min-height: 1080px;
}

.line-horizontal {
	height: 1px;
	border: 1px solid #BBBBBB;
	background-color: #BBBBBB;
}

.line-vertical {
	height: 100vh;
	border: 1px solid #BBBBBB;
	background-color: #BBBBBB;
}

.logo {
	width: 82px;
	height: 113px;
}

.open-zone {
	background-image: url('img/try.png');
	background-position: center;
	width: 100%;
	height: 100vh;
	margin-top: -40px;
}

.user-img {
	height: 100px;
	width: 100px; 
	margin-left: 37%;
	margin-top: 50px;
}

.center-user-name,
.center-user-mail {
	text-align: center;
	margin-top: 5px;
}

.center-user-name { 
	font-weight: bold;
}

.top-buttons-style {
	display: inline-block;
	margin-left: 8%;
	margin-bottom: 15px;
	background: white;
	border: white;
}

.top-buttons-style:hover {
	font-weight: bold;
	transition: all 0.3s;
}

.divisions {
	font-size: 25px;
	margin-left: 15%;
	margin-top: 15px;
} 

.division-column {
	font-size: 20px;
	margin-left: 10%;
	margin-top: 10px;
}

.options-dims {
	width: 250px;
	height: 18px;
	border-radius: 8px;
	border: none;
}

.main-title {
	font-size: 60px;
	text-align: center;
}

.folders {
	width: 85%;
	height: 20px;
	margin-left: 7.5%;
	background-color: white;
	border: 2px solid grey; 
	border-radius:18px;
	transition: height 0.3s ease;
	overflow: hidden;
	margin-bottom: 20px;
}

.folders-clicked {
	/*height: 100px;*/
	height: auto; /*<- non fa funzionare la transizione pk non sa mai che input dare alla funzione transition*/ 
}

.math {
	margin-top: 4px;
	margin-left: 10px;
	color: red;
	font-weight: bold;
} 

.ita {
	margin-top: 4px;
	margin-left: 10px;
	color: blue;
	font-weight: bold;
}

.storia{
	margin-top: 4px;
	margin-left: 10px;
	color: orange;
	font-weight: bold;
}

.ict {
	margin-top: 4px;
	margin-left: 10px;
	color: #008F11;
	font-weight: bold;
}

.tlc {
	margin-top: 4px;
	margin-left: 10px;
	color: #a6dced;
	font-weight: bold;
}

.tpsi {
	margin-top: 4px;
	margin-left: 10px;
	color: #f1807e;
	font-weight: bold;
}

.materia-clicked {
	text-align: center;
	
}